/* --- INITIAL SETUP START */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --color-intro-and-email-background: hsl(217, 28%, 15%);
  --color-main-background: hsl(218, 28%, 13%);
  --color-footer-background: hsl(216, 53%, 9%);
  --color-testimonials-background: hsl(219, 30%, 18%);

  /*Accent */
  --color-cta-cyan: hsl(176, 68%, 64%);
  --color-cta-blue: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);

  /* Body Width */
  --container-width-desktop: 82%;
  --container-width-Tablet: 90%;
  --container-width-mobile: 92%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-intro-and-email-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

h1 {
  font-size: 4.4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

.container {
  width: var(--container-width-desktop);
  max-width: 1800px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

.btn {
  background-image: linear-gradient(
    to left,
    var(--color-cta-blue) 20%,
    var(--color-cta-cyan)
  );
  color: var(--color-white);
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 400ms ease;
}

.btn:hover {
  background: var(--color-cta-blue);
}
/* --- INITIAL SETUP END */

/* ================= NAVBAR ===================== */
nav {
  width: 100%;
  height: 7rem;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 4;
  background-color: var(--color-intro-and-email-background);
}

nav a {
  font-size: 0.9rem;
  transition: all 400ms ease;
}

nav a:hover {
  color: var(--color-cta-blue);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav__logo img {
  width: 70%;
}

/* ================= HEADER ===================== */

header {
  overflow: hidden;
}

.header__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__top {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header__bottom h1 {
  font-size: 2.6rem;
  text-align: center;
  line-height: 1.5;
  width: 60%;
}

.header__bottom p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  width: 49%;
}

/* ================= FEATURES ===================== */
section#features {
  background: var(--color-main-background);
  margin: 0;
}

.features__container {
  padding: 5rem 0rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40% 40%;
  gap: 5rem;
}

.features__section {
  text-align: center;
}
.features__icon-image img {
  margin-bottom: 1rem;
}
.features__section h5 {
  font-size: 1.5rem;
}

.features__section p {
  width: 90%;
  margin: auto;
  font-size: 1.1rem;
}

/* ================= FEATURES 2 ===================== */
section#features2 {
  background: var(--color-main-background);
}

.features2__container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.features2__right h3 {
  font-size: 2.6rem;
  width: 80%;
  line-height: 1.3;
}

.features2__right p {
  font-size: 1.1rem;
}

.features2__right-icon h5 {
  font-size: 1rem;
}

.features2__right-icon hr {
  background-color: var(--color-cta-cyan);
  color: var(--color-cta-cyan);
  width: 31%;
  height: 2px;
}
.features2__right h5 {
  margin-top: 1rem;
}

.features2__right-icon a {
  color: var(--color-cta-cyan);
  transition: all 400ms ease;
}

.features2__right-icon {
  transition: all 400ms ease;
}

.features2__right-icon:hover {
  margin-left: 1rem;
  color: var(--color-cta-blue);
}

/* ================= TEAM ===================== */
section#team {
  background: var(--color-main-background);
}

.team__bgquote {
  position: relative;
  top: 1rem;
  left: 7.8rem;
  z-index: 1;
}

.team__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.team__icon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-testimonials-background);
  padding: 2rem;
  border-radius: 5px;
  z-index: 2;
}

.team__icon {
  box-shadow: 0 0 1rem var(--color-intro-and-email-background);
  transition: all 400ms ease;
}

.team__icon:hover {
  box-shadow: 0 0 0.5rem var(--color-cta-blue);
}

.avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  object-fit: contain;
}

.team__client {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ================= NEWSLETTER ===================== */
section#newsletter {
  margin: -14rem 0 auto 0;
  background: var(--color-main-background);
}
.newsletter__container {
  position: relative;
  top: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.newsletter {
  padding: 4rem 2rem;
  margin: 0 6rem;
  text-align: center;
  background: var(--color-intro-and-email-background);
}

.newsletter h5 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.newsletter p {
  font-size: 1rem;
  margin: 1.5rem auto;
  width: 75%;
}

input {
  padding: 1rem;
  width: 40%;
  border-radius: 50px;
  margin-right: 1rem;
}

.newsletter__signup .btn {
  padding: 1rem 2rem;
}

/* ================= FOOTER ===================== */
#footer {
  background: var(--color-footer-background);
  padding: 15rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.footer__logo img {
  width: 13%;
  margin-bottom: 2rem;
}

.footer__first-content {
  display: flex;
  gap: 2rem;
}

.footer__contents {
  display: grid;
  gap: 5rem;
  grid-template-columns: 25% 15% 5% 5% 10%;
}

.footer__content p,
.footer__content li {
  font-size: 1.2rem;
}

.footer__first-content img {
  margin-top: 0.5rem;
}

.footer__content-row2-cloum1,
.footer__content-row2-cloum2 {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer__content-row2-cloum1 img,
.footer__content-row2-cloum2 img {
  margin-top: 0.5rem;
}

.footer__social {
  display: flex;
  gap: 2rem;
}

.footer__social a {
  font-size: 1.5rem;
  transition: all 400ms ease;
}

.footer__social a:hover {
  font-size: 1.9rem;
  color: var(--color-cta-cyan);
}
/* ================= MEDIA QUERIES (PHONES) ===================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-mobile);
  }

  /* ========== (PHONES) NAVBAR ========== */
  .nav__logo img {
    width: 60%;
  }
  .nav__logo {
    width: 40%;
  }

  .nav__menu {
    padding-left: 1rem;
    gap: 1rem;
  }

  /* ========== (PHONES) HEADER ========== */
  .header__container {
    width: 100%;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header__bottom h1 {
    font-size: 1.7rem;
    width: 90%;
  }

  .header__bottom p {
    font-size: 1.2rem;
    width: 82%;
  }

  .features__container {
    grid-template-columns: 1fr;
  }

  .features__section p {
    width: 90%;
  }

  /* ========== (PHONES) FEATURE 2 ========== */
  .features2__container {
    flex-direction: column;
  }

  .features2__icon-image img {
    overflow: hidden;
    margin-left: 1rem;
    width: 90%;
  }

  .features2__right h3 {
    width: 100%;
    font-size: 1.3rem;
    line-height: 3;
  }

  .features2__right hr {
    background-color: var(--color-cta-cyan);
    color: var(--color-cta-cyan);
    width: 42%;
    height: 2px;
  }

  /* ========== (PHONES) TEAM ========== */
  .team__bgquote {
    left: 2.5rem;
  }
  .team__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .team__icon {
    margin: 0 2rem;
  }

  /* ========== (PHONES) NEWSLETTER ========== */
  section#newsletter {
    margin: -16rem 0 auto 0;
  }

  .newsletter {
    margin: 0 1rem;
  }

  .newsletter h5 {
    font-size: 1.7rem;
  }

  .newsletter p {
    width: 100%;
  }

  input {
    padding: 1rem;
    width: 90%;
    margin-bottom: 2rem;
  }

  .newsletter__signup .btn {
    padding: 0.9rem 4.6rem;
    font-size: 0.9rem;
  }

  /* ========== (PHONES) FOOTER ========== */
  #footer {
    padding: 13rem 2rem 5rem 2rem;
  }
  .footer__logo img {
    width: 40%;
    margin-bottom: 2rem;
  }

  .footer__first-content {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__contents {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .footer__content-row2-cloum1,
  .footer__content-row2-cloum2 {
    align-items: center;
  }

  .footer__social {
    justify-content: center;
    align-items: center;
  }
}
