/* --- INITIAL SETUP START */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --color-intro-and-email-background: hsl(217, 28%, 15%);
  --color-main-background: hsl(218, 28%, 13%);
  --color-footer-background: hsl(216, 53%, 9%);
  --color-testimonials-background: hsl(219, 30%, 18%);

  /*Accent */
  --color-cta-cyan: hsl(176, 68%, 64%);
  --color-cta-blue: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);

  /* Body Width */
  --container-width-desktop: 82%;
  --container-width-Tablet: 90%;
  --container-width-mobile: 92%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-intro-and-email-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

h1 {
  font-size: 4.4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: var(--container-width-desktop);
  max-width: 1800px;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
  margin: 5rem 0;
}

.btn {
  background: var(--color-cta-cyan);
  color: var(--color-white);
  font-weight: 700;
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 400ms ease;
}

.btn:hover {
  background: var(--color-cta-blue);
  color: var(--color-white);
}
/* --- INITIAL SETUP END */

/* ================= NAVBAR ===================== */
nav {
  width: 100vw;
  height: 10rem;
  display: grid;
  place-items: center;
  /* position: fixed;
  z-index: 2;
  background-color: var(--color-intro-and-email-background); */
}

nav a {
  font-size: 0.9rem;
  transition: all 400ms ease;
}

nav a:hover {
  color: var(--color-cta-blue);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

/* ================= HEADER ===================== */
header {
  height: calc(100vh - 5rem); /* Height of 100vh minus Top of 5rem*/
  position: relative;
  top: 5rem;
  display: grid;
  place-items: center;
  margin-bottom: 10rem;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.header__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
}

.header__bottom h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  width: 70%;
}

.header__bottom p {
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
}
